.atras i{
    font-size: 2rem;
}

input{
    padding: 15px;
    background-color: #e1e1e163;
    box-shadow: #ff0000;
}

.enviar{
    background-color: #000000e5;
}

.enviar:hover{
    background-color: #3b3b3be8;
    transition: 600ms;
}

.enviar.disabled{
    background-color: #ff0000;
    cursor: not-allowed;
}