<div class="atras pl-11 pt-8">
    <a href="/home"><i class="bi bi-box-arrow-in-left text-dark"></i></a>
</div>
<div class="flex min-h-full flex-col justify-center px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-32 w-auto" src="assets/img/logo.png" alt="Your Company">
        <h2 class=" text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Registro de usuario</h2>
    </div>
    <div class="container mt-10 sm:w-full">
        <form class="space-y-6 w-100" action="#" method="POST">
            <div class="row">
                <div class="col-12 col-md-3 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Nombre</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-12 col-md-3 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Primer apellido</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-12 col-md-3 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Segundo apellido</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-12 col-md-3 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Teléfono</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-md-1 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Sexo</label>
                    <div class="mt-2">
                        <select id="user" name="user" type="user" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                            <option>👨🏻</option>
                            <option>👩🏻</option>
                            <option>Otro</option>
                        </select>
                    </div>
                </div>
                <div class="col-9 col-md-2 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Fecha de nacimiento</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="date" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-12 col-md-3 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Nº identificación</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-12 col-md-3 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">E-mail</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="email" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-12 col-md-3 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="password" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
            </div>
            <hr class="mt-16">
            <div class="row">
                <div class="col-6 col-md-2 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">País</label>
                    <div class="mt-2">
                        <input id="user" value="España" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset" disabled>
                    </div>
                </div>
                <div class="col-6 col-md-2 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Provincia</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-4 col-md-2 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Cod. Postal</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-8 col-md-2 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Calle</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-3 col-md-1 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Número</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-3 col-md-1 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Portal</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-3 col-md-1 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Planta</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
                <div class="col-3 col-md-1 m-0">
                    <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Puerta</label>
                    <div class="mt-2">
                        <input id="user" name="user" type="text" autocomplete="user" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset">
                    </div>
                </div>
            </div>
            <div>
                <button type="submit"
                    class="enviar flex w-56 justify-center rounded-md sm:mx-auto px-3 py-2 text-sm font-semibold leading-6 text-white">Registrarse</button>
            </div>
        </form>
        <p class="mt-10 text-center text-sm text-gray-500">¿Ya tienes cuenta?
            <a href="/login" class="font-semibold leading-6 text-gray-600 hover:text-black">Inicia sesión</a>
        </p>
    </div>
</div>